* {
    margin: 0px;
    padding: 0px;
}
.background {
    width: 100%;
    height: 705px;
    background: deepskyblue;
}
/*修改dialog的titlebar背景颜色为deepskyblue*/
.ui-dialog-titlebar {
    background: deepskyblue;
}
/*修改dialog的titlebar的close按钮*/
.ui-dialog-titlebar-close {
    display: none;
}
.productInfoDia {
	display: none;
}
.sellerInfoDia {
	display: none;
}
.formStyle {
	margin-top: 20px;
}
.productName,.title {
	margin-left: 10px;
}